<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>

#banner {
    height: 360px;
    width: 100%;
    object-fit: cover;
}

</style>
<title>hehehehehe</title>
</head>

<body>
<div class="container">
<h1 class="text-center mt-2 mb-4">{{creator}} Library Management System</h1>
<img id="banner" class="img-fluid" src="static/—Pngtree—aesthetic background pink pastel_1563491.png">

<h2 class="text-center mt-2 mb-4">Information</h2>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam ac tortor.
    Quis vel eros donec ac odio. Ullamcorper malesuada proin libero nunc consequat interdum
    varius sit amet. Id volutpat lacus laoreet non curabitur. Vel eros donec ac odio tempor.
    Nam libero justo laoreet sit amet. Ut aliquam purus sit amet luctus venenatis lectus magna.
    Nisi quis eleifend quam adipiscing vitae. Elit at imperdiet dui accumsan. Est placerat in
    egestas erat imperdiet sed euismod nisi porta. Ut lectus arcu bibendum at varius vel pharetra
    vel turpis. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Ac tortor vitae
    purus faucibus ornare. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu.
    Amet cursus sit amet dictum. Iaculis eu non diam phasellus vestibulum lorem. Lorem donec
    massa sapien faucibus et molestie. Amet porttitor eget dolor morbi.</p>

<h2 class="text-center mt-2 mb-4">Data</h2>
<div>
    {% for book in books %}
        {% include 'books.html' %}
    {% endfor %}
</div>
<div class="text-center">
    <button class="btn btn-primary btn-lg">Contact</button>
    <p class="mt-2 mb-4">copyright 2024, xxxXXXxxx</p>
</div>
</div>

</body>

</html>